Flask==2.2.2
Werkzeug==2.2.2
pandas
numpy
scikit-learn
xgboost
matplotlib
seaborn
tensorflow
keras
statsmodels
yfinance
plotly
PyJWT
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.39
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.4.4
Flask-Limiter==2.2.0
Flask-CORS==3.0.10
Flask-Mail==0.9.1
Flask-Login==0.6.3